<div ng-controller="AdgroupsearchCtrl">
    <select id="active_group" name="group" ng-model="selectedGroup" ng-options="group.value as group.label for group in groups" ng-change="change(selectedGroup)">
        <option value="">Select Group</option>
    </select>
    
</div>
 {{selectedGroup}}
<div id="add_user_line">
<!-- <label for="add_user">Add NetID: </label><input type="text" name="add_user" id="add_user" ng-model="user.name" required ng-minlength="3" ng-maxlength="10">-->
<label for="add_user">Add NetID: </label><input type="text" name="add_user" id="add_user" ng-model="user.name" ng-minlength="3" ng-maxlength="10">
<input type="submit" value="Add" />
</div>
<div id="group_members" style="width: 550px; border: 1px solid black; margin: 10px; padding: 10px;" ng-controller="GetadgroupmembersCtrl">
    <span name="members" ng-repeat="member in members">
    <input type="checkbox" ng-model="member.checked" name="remove_member[]" value="{{member.name}}" />
    {{member.name}} ({{member.details.cn[0]}})<br />
    </span>
</div>
<input type="submit" value="Remove Users" ng-click="act()"/>
